---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const proposals = await getCollection("proposals");
  return proposals.map((proposal) => ({
    params: { slug: proposal.slug },
    props: { proposal },
  }));
}

// Get the proposal directly from the prop on render
const { proposal } = Astro.props;
const { Content } = await proposal.render();
---

<Layout title={proposal.data.title}>
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <div class="flex justify-between items-center mb-4">
        <a href="/">
          <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
            Fito Diputado
          </span>
        </a>
        <a href="/propuestas" class="btn btn-outline btn-sm sm:btn-md btn-accent rounded-full whitespace-nowrap">
          ← Regresar a Propuestas
        </a>
      </div>

      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight text-primary">
        {proposal.data.title}
      </h1>
    </div>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl text-xl">
      <Content />
    </div>
    <div class="text-center mt-8">
      <a href="/propuestas" class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition">
        ← Regresar a Propuestas
      </a>
    </div>
  </Container>
</Layout>
