---
import Container from "@/components/container.astro";
import Link from "@/components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  // {
  //   title: "Features",
  //   path: "#",
  //   children: [
  //     { title: "Action", path: "/" },
  //     { title: "Another action", path: "#" },
  //     { title: "Dropdown Submenu", path: "#" },
  //     { title: "404 Page", path: "/404" },
  //   ],
  // },
  {
    title: "Propuestas",
    path: "#proposals",
  },
  {
    title: "Sumate",
    path: "#cta",
  },
  // {
  //   title: "Blog",
  //   path: "/blog",
  // },
  // {
  //   title: "Contact",
  //   path: "/contact",
  // }
];
---

<header class="bg-blue-50 py-3">
  <Container class:list={['flex', 'flex-col', 'lg:flex-row', 'justify-between', 'items-center']}>
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-2xl md:text-4xl">
          <span class="font-bold text-blue-900 tracking-tight">Fito</span>
          <span class="text-blue-300 tracking-tighter">Diputado</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-blue-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-2">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-primary hover:text-accent">
                      <span class="text-lg md:text-xl tracking-tight font-medium">{item.title}</span>
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <!-- <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div> -->
      </MenuItems>
    </Astronav>
    <!-- <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="#">Log in</a>
        <Link href="#" size="md">Sign up</Link>
      </div>
    </div> -->
  </Container>
</header>
