---
import { Image } from "astro:assets";
import candidateImage from "@/assets/fito.jpg";
import { Icon } from "astro-icon/components";
import Container from "./container.astro";
import Sectionhead from "@/components/sectionhead.astro";

const facts = [
  {
    texto: "Licenciado en Administración de Empresas",
    icon: "bx:briefcase-alt"
  },
  {
    texto: "Amante de la cocina",
    icon: "uil:utensils"
  },
  {
    texto: "Master en Dirección de Proyectos",
    icon: "uil:award"
  },
  {
    texto: "Dedicado al rubro de construcción con mi familia",
    icon: "bx:building-house"
  },
  {
    texto: "Tuve un restaurante llamado Fito's",
    icon: "uil:restaurant"
  },
  {
    texto: "Católico",
    icon: "bx:church"
  }
];
---

<section id="adolfo" class="bg-gray-50 pt-8 pb-20">
  <Container>
    <div class="container px-5 mx-auto flex flex-wrap">
      <div class="w-full text-center">
        <Sectionhead>
          <Fragment slot="title">¿Quién es Adolfo Ráquel?</Fragment>
          <Fragment slot="desc"></Fragment>
        </Sectionhead>
      </div>
      <div class="flex flex-wrap w-full pt-16">
        <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
          {facts.map((item, index) => (
            <div class={`flex items-center relative ${index !== facts.length - 1 ? 'pb-12' : ''}`}>
              <div data-aos="fade-up" data-aos-delay={(index+1) * 50} class="flex-shrink-0 w-12 h-12 rounded-full bg-accent inline-flex items-center justify-center text-white relative z-10">
                <Icon class="text-white w-6 h-6" name={item.icon} />
              </div>
              <div class="flex-grow pl-4">
                <p class="text-lg text-primary font-medium">{item.texto}</p>
              </div>
            </div>
          ))}
        </div>

        <Image class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12" src={candidateImage} alt="Fito" />
      </div>
    </div>
  </Container>
</section>
