---
import { Image } from "astro:assets";
import candidateImage from "@/assets/hadwin.jpg";
import { Icon } from "astro-icon/components";
import Container from "./container.astro";
import Sectionhead from "@/components/sectionhead.astro";

const facts = [
  {
    titulo: "Dato 1",
    texto: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  },
  {
    titulo: "Dato 2",
    texto: "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
  },
  {
    titulo: "Dato 3",
    texto: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.",
  },
  {
    titulo: "Dato 4",
    texto: "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.",
  },
  {
    titulo: "Dato 5",
    texto: "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.",
  },
];

---
<section class="text-gray-600 body-font bg-blue-50">
  <Container>
    <div class="container px-5 py-16 mx-auto flex flex-wrap">
      <div class="w-full text-center">
        <Sectionhead>
          <Fragment slot="title">¿Quién es Hadwin Aguilar?</Fragment>
          <Fragment slot="desc"></Fragment>
        </Sectionhead>
      </div>

      <div class="flex flex-wrap w-full pt-16">
        <div class="md:order-1 lg:w-2/5 md:w-1/2 md:pl-10 md:py-6">
          {facts.map((item, index) => (
            <div class={`flex relative ${index !== facts.length - 1 ? 'pb-12' : ''}`}>
              <div data-aos="fade-up" data-aos-delay={(index+1) * 50} class="flex-shrink-0 w-12 h-12 rounded-full bg-accent inline-flex items-center justify-center text-white relative z-10">
                <Icon class="text-white w-6 h-6" name="uil:check-square" />
              </div>
              <div class="flex-grow pl-4">
                <p class="text-lg text-secondary font-medium">{item.texto}</p>
              </div>
            </div>
          ))}
        </div>

        <Image class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12" src={candidateImage} alt="Fito" />
      </div>
    </div>
  </Container>
</section>
