---
import { Image } from "astro:assets";
import car1 from "@/assets/car_1.jpg";
import car2 from "@/assets/car_2.jpg";
import car3 from "@/assets/car_3.jpg";
import car4 from "@/assets/car_4.jpg";
import car5 from "@/assets/car_5.jpg";
import car6 from "@/assets/car_6.jpg";

const items = [
  { src: car1, alt: "Fito Diputado" },
  { src: car2, alt: "Fito Diputado" },
  { src: car3, alt: "Fito Diputado" },
  { src: car4, alt: "Fito Diputado" },
  { src: car5, alt: "Fito Diputado" },
  { src: car6, alt: "Fito Diputado" },
  { src: car1, alt: "Fito Diputado" },
  { src: car2, alt: "Fito Diputado" },
  { src: car3, alt: "Fito Diputado" },
  { src: car4, alt: "Fito Diputado" },
  { src: car5, alt: "Fito Diputado" },
  { src: car6, alt: "Fito Diputado" },
];
---

<div class="carousel carousel-center bg-white flex space-x-4 p-4 overflow-x-auto">
  {items.map((item, index) => (
    <div class="carousel-item">
      <Image
        src={item.src}
        alt={item.alt}
        width={item.src.width}
        height={item.src.height}
        class="rounded-lg w-64 h-auto object-cover"
      />
    </div>
  ))}
</div>
