---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon/components";
import Container from "./container.astro";
---

<section id="cta" class="bg-white p-8 md:px-20 md:py-20 text-center">
  <Container class:list={['flex', 'flex-col', 'items-center']}>
    <Icon name="bx:bxs-star" class="text-accent text-5xl mb-4" />

    <h2 class="text-primary text-4xl md:text-6xl">
      ¡Construyamos un mejor futuro para Honduras!
    </h2>

    <p class="text-slate-400 mt-4 text-lg md:text-xl">
      Súmate al cambio con Fito Ráquel. Escucha, acción y transparencia para un Congreso que te represente.
    </p>

    <p class="text-accent text-base uppercase font-semibold mt-2">
      Tu voz, tu voto, tu futuro
    </p>

    <div class="flex flex-wrap justify-center gap-4 mt-6">
      <!-- <Link href="/voluntarios" style="inverted">Únete como Voluntario</Link>
      <Link href="/propuesta" style="outline">Leer Propuesta</Link> -->
    </div>
  </Container>
</section>
