---
import Link from "./ui/link.astro";
import { Image } from "astro:assets";
import logoIcon from "@/assets/logo_icon.png"
import { Icon } from "astro-icon/components";
---

<footer id="footer" class="bg-blue-950 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a href="/" class="text-lg">
      <Image src={logoIcon} alt="logo" width="60" height="60" />
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
      © 2025
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <Link style="transparent" href="https://www.facebook.com/adolfo.raquel.1" target="_blank" title="facebook">
        <Icon name="simple-icons:facebook" class="w-5 h-5" />
      </Link>
      <Link style="transparent" class="ml-3" href="https://x.com/arp_25" target="_blank" title="x">
        <Icon name="simple-icons:x" class="w-5 h-5" />
      </Link>
      <Link style="transparent" class="ml-3" href="https://instagram.com/fito4" target="_blank" title="Instagram">
        <Icon name="simple-icons:instagram" class="w-5 h-5" />
      </Link>
      <Link style="transparent" class="ml-3" href="https://tiktok.com/@fitor04" target="_blank" title="TikTok">
        <Icon name="simple-icons:tiktok" class="w-5 h-5" />
      </Link>
    </span>
  </div>
</footer>
