---
import { Picture } from "astro:assets";
import heroBackground from "@/assets/hero_footer.jpeg";
---

<section class="relative w-full h-[80vh] overflow-hidden">
  <Picture
    src={heroBackground}
    alt="Ciudad"
    widths={[640, 1024, 1920]}
    sizes="100vw"
    class="absolute inset-0 w-full h-full object-cover"
    loading="lazy"
    format="avif"
  />
  <div class="absolute inset-0 bg-black/70"></div>

  <div class="relative z-10 max-w-7xl mx-auto h-full flex flex-col items-center justify-start mt-20 px-4 lg:px-8 text-center space-y-6">
    <h1 class="text-4xl md:text-5xl font-bold text-white leading-tight">
      ¡Muchas Gracias a Todos!
    </h1>
    <p class="text-white text-xl md:text-2xl max-w-lg">
      ¡Ahora vamos al Congreso a trabajar de verdad!
    </p>
  </div>
</section>
