---
import { Picture } from "astro:assets";
import heroBackground from "@/assets/hero_background.jpg";
import heroFito from "@/assets/hero_fito.png";
---

<section class="relative w-full h-[90vh] overflow-hidden">
  <Picture
    src={heroBackground}
    alt="Ciudad"
    widths={[640, 1024, 1920]}
    sizes="100vw"
    class="absolute inset-0 w-full h-full object-cover"
    loading="lazy"
    format="avif"
  />
  <div class="absolute inset-0 bg-black/70"></div>
  <div class="relative z-10 max-w-7xl mx-auto h-full flex items-center justify-between px-4 lg:px-8">
    <div class="text-white max-w-xl space-y-4">
      <h1 class="text-4xl md:text-5xl font-bold leading-tight">
        <span class="text-accent">FITO RÁQUEL</span><br />
        UNA VOZ JOVEN,<br />
        HONESTA Y VALIENTE<br />
        PARA EL CONGRESO
      </h1>
      <p class="text-lg md:text-xl">
        Educación, Emprendimiento y Transparencia como pilares del cambio.
      </p>
      <div class="flex gap-4">
        <button data-aos="fade-up" class="btn md:btn-lg btn-accent rounded-full">
          <a href="/propuestas">
            Ver Propuestas
          </a>
        </button>
        <button data-aos="fade-up" class="btn btn-outline md:btn-lg btn-accent rounded-full">
          <a href="#cualidades">
            Conocé Más
          </a>
        </button>
      </div>
    </div>
    <div class="hidden md:block w-[40%] -mr-24 self-end">
      <Picture
        src={heroFito}
        alt="Fito Ráquel"
        class="w-full h-auto object-contain"
        widths={[150, 300, 450]}
        sizes="(max-width: 800px) 100vw, 450px"
        loading="eager"
        format="avif"
      />
    </div>
  </div>
</section>
