---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hero.png";
import Container from "./container.astro";
---

<Container>
  <main id="hero" class="grid lg:grid-cols-2 place-items-center py-8 md:py-2">
    <div class="order-1 pt-4 md:pt-1">
      <Picture
        src={heroImage}
        alt="Fito Ráquel"
        widths={[150, 300, 450]}
        sizes="(max-width: 800px) 100vw, 450px"
        loading="eager"
        format="avif"
      />
    </div>
    <div>
      <h1 class="uppercase text-3xl lg:text-4xl xl:text-5xl font-bold text-primary text-center md:text-left">
        Fito Raquel <br> Una voz joven, honesta y valiente para el Congreso
      </h1>
      <p class="text-lg lg:text-2xl mt-4 text-accent max-w-xl text-center md:text-left">
Educación, Emprendimiento y Transparencia como pilares del cambio.
      </p>
      <div class="mt-6 flex flex-col sm:flex-row items-center gap-4 justify-center md:justify-start">
        <button data-aos="fade-up" class="btn btn-lg btn-primary rounded-full">
          <a href="#propuestas">
            Conocé mis propuestas
          </a>
        </button>
        <a data-aos="fade-up" href="#footer" class="link link-primary text-lg font-medium">
          Seguir en redes
        </a>
      </div>
    </div>
  </main>
</Container>

