---
// @ts-ignore
import { Picture } from "astro:assets";
import partidoNacionalLogo from "@/assets/partido_nacional_logo.jpg"
---

<div class="mt-24">
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <div class="max-w-[400px] mx-auto">
      <Picture
        src={partidoNacionalLogo}
        alt="Partido Nacional"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 60vw, 300px"
        loading="eager"
        format="avif"
      />
    </div>
  </div>
</div>
