---
import mision from "@/assets/mision.jpeg"
import vision from "@/assets/vision.jpeg"
import { Image } from "astro:assets";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
---

<Container>
  <section id="mision" aria-label="Misión del Diputado" class="text-gray-700 body-font py-16">
    <div class="container mx-auto flex px-5 md:flex-row flex-col items-center gap-12">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left items-center text-center">
        <Sectionhead>
          <Fragment slot="title">Misión</Fragment>
          <Fragment slot="desc">Compromiso con la ciudadanía</Fragment>
        </Sectionhead>
        <p class="font-medium text-xl mb-8 leading-relaxed lg:leading-relaxed">
          Legislar con responsabilidad y valentía para impulsar el empleo digno, atraer inversión, proteger nuestro ambiente, fortalecer el tejido social y defender la democracia.
        </p>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <Image class="object-cover object-center rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300" src={mision} alt="misión"/>
      </div>
    </div>
  </section>

  <section id="vision" aria-label="Visión del Diputado" class="text-gray-700 body-font py-16">
    <div class="container mx-auto flex px-5 md:flex-row flex-col items-center gap-12">
      <div class="order-1 md:order-2 lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <Sectionhead>
          <Fragment slot="title">Visión</Fragment>
          <Fragment slot="desc">Una Honduras moderna y sostenible</Fragment>
        </Sectionhead>
        <p class="font-medium text-xl mb-8 leading-relaxed lg:leading-relaxed">
          Construir una Honduras moderna, justa y sostenible, donde las oportunidades lleguen a todos, sin ideologías que dividan, y con un Estado que sirva, no que estorbe.
        </p>
      </div>
      <div class="order-2 md:order-1 lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <Image class="object-cover object-center rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300" src={vision} alt="visión"/>
      </div>
    </div>
  </section>
</Container>
