---
import { Picture } from "astro:assets";
import sticker from "@/assets/sticker.jpg"
---

<div class="-mb-4 w-full">
  <div class="w-full">
    <Picture
      src={sticker}
      alt="Partido Nacional"
      widths={[640, 1024, 1920]}
      sizes="100vw"
      class="w-full h-auto"
      loading="lazy"
      format="avif"
    />
  </div>
</div>
