---
interface Props {
  href: string;
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "muted" | "accent" | "transparent";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-5 py-2.5",
  md: "px-4 py-2",
};

const styles = {
  outline:
    "bg-white border-2 border-blue-900 text-blue-900 hover:bg-blue-100 transition-colors",
  primary:
    "bg-blue-900 text-white border-2 border-transparent hover:bg-blue-800 transition-colors",
  inverted:
    "bg-white text-blue-900 border-2 border-transparent hover:bg-blue-50 transition-colors",
  muted:
    "bg-blue-100 text-blue-900 border-2 border-transparent hover:bg-blue-200 transition-colors",
  accent:
    "text-yellow-400",
  transparent:
    "text-white hover:text-orange-500",
  };

---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded-sm text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</a>
